.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url(../images/bgimg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.body{
  background-image: url(../images/bgimg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.content {
  flex-grow: 1;
  padding: 20px;
}

.heading {
  color: white;
  font-size: 60px;
  font-weight: bold;
  font-style: italic;
  margin-top: 50px;
  margin-bottom: 20px;
}

.table-container {
  padding: 60px; /* Add padding */
  background-color: #25272B; /* Set the background color */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  color: white;
}

.table th {
  font-weight: bold;
  font-size: 20px;
}

@media (max-width: 768px) {
  .heading {
    font-size: 30px;
  }

  .table th,
  .table td {
    padding: 8px;
  }
}

@media (max-width: 576px) {
  .heading {
    font-size: 24px;
  }

  .table th,
  .table td {
    padding: 6px;
  }
}