.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: white;
}

.body{
}

.content {
  flex-grow: 1;
  padding: 20px;
}

.heading {
  color: black;
  font-size: 60px;
  font-weight: bold;
  font-style: italic;
  margin-top: 80px;
  margin-bottom: 20px;
}

.table-container {
  padding: 60px; /* Add padding */
  background-color: #3e3f3f; /* Set the background color */
  box-shadow: 10px 10px 5px black;
  border-radius: 30px;
  overflow: hidden;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  color: white;
}

.table th {
  font-weight: bold;
  font-size: 20px;
}

@media (max-width: 768px) {
  .heading {
    font-size: 30px;
  }

  .table th,
  .table td {
    padding: 8px;
  }
}

@media (max-width: 576px) {
  .heading {
    font-size: 24px;
  }

  .table th,
  .table td {
    padding: 6px;
  }
}