/* Default styles for large screens */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

/* Container styles for large screens */
.container {
  margin: 20px;
}

/* Layout styles for large screens */
.layout {
  display: flex;
  flex-direction: column;
}

/* Main section styles for large screens */
.main {
  flex: 1;
  background-size: cover;
}

/* Header styles for large screens */
.header {
  align-items: center;
  background-image: url(../images/bgimg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 40px;
  padding:20px;
  height: 680px;
  width: 100%;
}

/* Tagline and buttons styles for large screens */
.tagline {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.buttons {
  justify-content: center;
  display: flex;
  flex-direction: row;
}

/* Heading styles for large screens */
.h9 {
  margin-top: 4%;
  color: #ffffff;
  font-weight: bold;
  font-style: italic;
  font-size: 100px;
}

.h10 {
  margin-top: 2%;
  color: white;
  font-weight: bold;
  font-style: italic;
  font-size: 50px;
}

/* Search button styles for large screens */
.searchbutton {
  border-color: #ffffff;
  border-width: 2px;
  border-radius: 5px;
  border-style: solid;
  margin-right: 10px;
  margin-top: 120px;
  height: 70px;
  width: 200px;
}

.searchbutton:hover {
  background-color: #ffffff;
  cursor: pointer; /* Change the cursor on hover to a pointer */
}

.searchbutton:hover h6 {
  color: black;
}

/* Featured button styles for large screens */
.featured {
  border: #ffffff;
  border-radius: 5px;
  margin-left: 10px;
  margin-top: 120px;
  height: 70px;
  width: 240px;
  background-color: white;
}

.featured:hover {
  background-color: black;
  cursor: pointer; /* Change the cursor on hover to a pointer */
}

.featured:hover .h7 {
  color: #ffffff;
}

/* Heading styles for medium screens */
.h6 {
  padding-top: 19px;
  text-align: center;
  justify-self: center;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.h7 {
  padding-top: 20px;
  text-align: center;
  justify-self: center;
  color: black;
  font-weight: bold;
  font-size: 20px;
}

/* Grid styles for large screens */
.grid {
  padding-top: 5%;
  align-items: center;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(3, minmax(0, 1fr));
  gap: 20px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
  background-color:whitesmoke;
  margin:0 auto;
  width: 70%;
  height: 70%;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
}

/* Heading styles for medium screens */
.h8 {
  display: flow-root;
  margin-top: 4%;
  color: black;
  font-weight: bold;
  font-style: italic;
  font-size: 40px;
}

/* Card styles for large screens */
.card {
  background-color: transparent;
  width: 80%;
  height: 80%;
  border-radius: 8px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid black;
  margin:0 auto;
  margin-top: 10px;
  
  
}

.cardImage {
  width: 30%;
  height: 100%;
  border-radius: 4px;
}

.cardContent {
  margin-top: 16px;
}

.cardTitle {
  font-size: 18px;
  font-weight: bold;
  color:#1a1a1a;
  align-self: first baseline;
}

.cardText {
  margin-top: 8px;
}

.cardLink {
  display: inline-block;
  margin-top: 16px;
  color: #1a1a1a;
  text-decoration: none;
  font-weight: bold;
}

.cardLink:hover {
  text-decoration: underline;
}

/* Footer styles for large screens */
.footer {
  background-color: #25272B;
  color: white;
  text-align: center;
  padding: 20px;
  position: sticky;
  bottom: 0;
}

/* Media query for medium screens */
@media (max-width: 992px) {
  /* Adjust styles for medium screens here */
  .header {
    height: auto;
    background-size: 100% 100%;
    margin-bottom: 20px; /* Add margin after the header */
  }

  .buttons {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .searchbutton,
  .featured {
    margin-top: 20px; /* Add margin before the featured section */
  }

  .h9 {
    font-size: 60px;
  }

  .h10 {
    font-size: 30px;
  }

  .h6,
  .h7 {
    font-size: 16px;
  }

  .grid {
    grid-template-columns: repeat(2, minmax(0, 1fr)); /* Two columns on medium screens */
  }

  .h8 {
    font-size: 40px;
  }

  .card {
    width: 90%;
    margin: 0 auto; /* Center the cards horizontally */
  }

  .cardImage {
    width: 100%;
  }
}

/* Media query for small screens */
@media (max-width: 768px) {
  /* Adjust styles for small screens here */
  .layout {
    padding: 10px;
  }

  .header {
    height: auto;
    background-size: 100% 100%;
    margin-bottom: 20px; /* Add margin after the header */
  }

  .buttons {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .searchbutton,
  .featured {
    margin-top: 20px; /* Add margin before the featured section */
  }

  .h9 {
    font-size: 60px;
  }

  .h10 {
    font-size: 30px;
  }

  .h6,
  .h7 {
    font-size: 16px;
  }

  .grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .h8 {
    font-size: 40px;
  }

  .card {
    width: 90%;
    margin: 0 auto; /* Center the cards horizontally */
  }

  .cardImage {
    width: 100%;
  }
}
