.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(to bottom, #4269E2, #25272B);
  }
  
  .content {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
  }
  
  .heading {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .restaurant-container {
    margin-bottom: 20px;
  }
  
  .restaurant-box {
    display: flex;
    align-items: center;
    background-color: #25272B;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    width: 600px;
  }
  
  .restaurant-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
  }
  
  .restaurant-info {
    flex: 1;
  }
  
  .restaurant-name {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .show-more-details {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .show-more-details:hover {
    background-color: #45a049;
  }
  
  .ratings-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .rating {
    flex: 1;
    text-align: center;
    background-color: #25272B;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    width: 300px;
  }
  
  .rating p {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: white;
  }
  
  .review-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 600px;
  }
  
  .rating-comment-box {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    width: 100%;
    box-sizing: border-box;
    background-color: #25272B;
    color: white;
  }
  
  .rating-input,
  .comment-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
    color: white;
  }
  
  input[type="number"],
  textarea {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    resize: vertical;
    background-color: #25272B;
    color: white;
  }
  
  .comment-input textarea {
    height: 150px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    resize: vertical;
    background-color: #25272B;
    color: white;
  }
  
  .submit-button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #45a049;
  }
  
  .previous-comments {
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 600px;
    box-sizing: border-box;
    background-color: #25272B;
    color: white;
  }
  
  .comment-list {
    list-style-type: none;
    padding: 0;
  }
  
  .comment-item {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #25272B;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
  }
  
  .comment-item p {
    margin: 0;
    padding: 0;
    color: white;
  }
  
  .comment-item .user-name {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .comment-item .comment-content {
    font-style: italic;
  }