/* Your existing styles... */

/* Container styles for large screens */
.container {
  margin: 20px;
}

/* Layout styles for large screens */
.layout {
  display: flex;
  flex-direction: column;
}

/* Main section styles for large screens */
.main {
  flex: 1;
  background-size: cover;
}

/* Header styles for large screens */
.header {
  align-items: center;
  background-color: white;
  padding-bottom: 80px;
  margin-top: 45px;
  height: 655px;
  width: 100%;
}

/* Search input and button styles */
.h1 {
  padding-top: 60px;
  color: black;
  font-size: 50px;
  font-weight: bold;
  font-style: italic;
}

.searchBarContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.inputContainer {
  position: relative;
  width: 70%;
}

input {
  width: 100%;
  padding: 12px;
  border: 5px solid #7e7e7e;
  border-radius: 20px;
  outline: none;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

input:focus {
  border-color: #5b6b72;
}

.searchButton {
  background-color: #5b6b72;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-left: 10px;
  transition: background-color 0.3s ease;
}

.searchButton:hover {
  background-color: #1f262d;
}

/* Loading icon styles */
.loadingIcon {
  margin-top: 20px;
  font-weight: bold;
}

/* Card styles */
.card {
  width: 70%;
  background-color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 80px; /* Adjust the margin at the bottom */
  margin: 30px auto;
}

.h4{
  color: black;
  font-size: 25px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.p1{
  color: black;
  font-size: 25px;
  margin-top: 10px;
}

.commentLine {
  border: 1px solid #000; /* You can adjust the color as needed */
  margin: 10px 0; /* Adjust the margin to control the spacing between comments */
}